header {
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  height: 80px;

  @media (max-width: 991px) {
    height: auto;
  }
}

.block {
  display: inline-block;
  position: relative;
  line-height: 0;
  width: 100%;

  @media (max-width: 991px) {
    padding-top: 10%;
  }


  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to right, #0b2a30, transparent, #0b2a30), linear-gradient(to right, #0b2a30, transparent, #0b2a30);
    opacity: 1;
    z-index: 2;

    @media (max-width: 991px) {
      display: none;
    }
  }

}

.adv {
  transform: scaleX(-1);
  width: 45%;
  height: 100%;
  position: absolute;

  &:first-child {
    left: 0;
  }

  &:nth-child(2) {
    transform: scaleX(1);
    z-index: 2;
    right: 30%;
  }

  &:nth-child(3) {
    right: -14%;
  }

  @media (max-width: 991px) {
    width: 100%;
    right: 0 !important;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;


    &:nth-child(odd) {
      display: none;
    }
  }
}

.headS {
  border-bottom: 1px solid #d8d8d8;
}


.travel {
  max-width: 693px;
  width: 100%;
  margin-left: auto;
  position: relative;
  @media (max-width: 760px) {
    display: none;
  }
}

.travelImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.travelHeader {
  color: #f63219;
  text-shadow: 3px 1px #fff;
  font-size: 34px;
  font-family: $chillFont;
  position: absolute;
  top: 10%;
  left: 15%;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}

.travelText {
  color: #999999;
  text-shadow: 3px 1px #fff;
  font-size: 24px;
  position: absolute;
  top: 45%;
  left: 15%;
  font-family: $chillFont;

  @media (max-width: 991px) {
    font-size: 16px;
  }
}

.travelLink {
  display: block;
  position: relative;
  line-height: 0;
  width: 100%;
  padding-top: 12%;
}

.otLink {
  color: $blue;
  text-shadow: none;
  position: relative;

}

.versionLink {
  color: $black;
  margin-right: 20px;
  font-size: 14px;

  @media (max-width: 540px) {
    margin-right: 0;
  }
}

.sign {
  color: $blue;
}

.headL {
  border-bottom: 5px solid #f2f2f2;
  height: 62px;
}

.cityParent {
  display: inline-block;
  max-width: 322px;
  position: relative;
  width: 100%;
  padding: 0;
  padding-left: 50px;

  .title {
    text-align: left;
  }
}

.cityLink {
  color: #999999;
}

.nav {
  max-width: 677px;
  width: 100%;
  padding: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 62px;

  @media (max-width: 991px) {
    position: absolute;
    right: 0;
  }

  .menu {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.menu li {
  display: inline-block;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  color: $navColor;
  font-size: 15px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  background: $blue;
  position: absolute;
  right: 0;
  z-index: 5;

}
.menu-btn__burger {
  position: relative;
  width: 21px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
  height: 4px;
}
.menu-btn__burger::after {
  transform: translateY(8px);
}


.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.curseParent {
  display: flex;
  max-width: 321px;
  width: 100%;
  padding: 0;
  justify-content: space-around;

  @media (max-width: 991px) {
    display: none;
  }
}

.curseValue {
  margin-right: 20px;
  position: relative;

  &:first-child {
    margin-left: 20px;
  }

}

/* record */

/* left */

.left {
  max-width: 322px;
  width: 25%;
  border-right: 1px solid $line;
  padding: 0;

  .newsImg {
    padding-top: 100%;
  }

  @media (max-width: 760px) {
    display: none;
  }
}

.blockParent {
  max-height: 575px;
  overflow: hidden;
  overflow-y: auto;
  color: $navColor;

  @media (max-width: 1200px) {
    max-height: none !important;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollColor;
  }

  &::-webkit-scrollbar-track {
    background-color: #efefef;
  }
}

.recording {
  border-top: 1px solid $line;
  padding: 9px 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    display: block;
  }

  time {
    margin-right: 20px;
  }

  .newsImgStats {
    position: static;
    justify-content: space-between;
    filter: grayscale(1);
  }
}

.partImg {
  max-width: 76px;
  width: 100%;
  margin-right: 15px;
  height: 50px;

  @media (max-width: 1200px) {
    max-width: none;
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* hearing */

.hearing {
  position: absolute;
  width: 350px;
  z-index: 3;
  top: 27%;
  -webkit-transform: translateY(-27%);
  -moz-transform: translateY(-27%);
  -ms-transform: translateY(-27%);
  transform: translateY(-27%);
  background-color: #fff;
  left: 3%;
  padding: 15px;
  display: flex;
  font-size: 13px;

  @media (max-width: 960px) {
    display: none;
  }

  .recordingAlllink {
    margin-right: 20px;
  }
}

.closeBlock {
  display: none;
}

.hearingContent {
  margin-left: 13px;
  color: $navColor;

  .close {
    top: 16px;
    right: 13px;
  }
}


.advImg {
  width: 100%;
  height: 315px;
}

.recordingLink {
  font-size: 15px;
  max-width: 177px;
  width: 100%;
  font-family: 'Tahoma Regular';
  line-height: 18px;
}

.recordingAlllink {
  color: $blue;
  font-size: 13px;
  line-height: 18px;
}

/* middle */

.middle {
  max-width: 677px;
  width: 50%;
  font-family: 'Tahoma';

  @media (max-width: 991px) {
    width: 75%;
    padding-right: 0;
  }

  @media (max-width: 760px) {
    width: 100%;
    padding: 0;
  }

  .blockParent {
    max-height: none;

    @media (max-width: 991px) {
      margin: 0 auto;
    }

    .recording {
      padding: 15px 0;
      flex-wrap: nowrap;

      .IntImg {
        @media (max-width: 991px) {
          max-width: none;
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      .intLink {
        @media (max-width: 991px) {
          margin: 0 auto;
          text-align: center;
        }
      }
    }

  }
}

.cal {
  padding: 20px 0;
}

.calText {
  color: #999;
  font-size: 13px;
}

.calToday {
  @media (max-width: 540px) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.calLink {
  color: $black;
  margin-left: 20px;
  font-weight: 600;
}



.rad {
  border-top: 2px solid $line;
  border-bottom: 2px solid $line;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  padding: 15px 0;

  .title {
    @media (max-width: 1200px) {
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
    }
  }




}

input[type="checkbox"] {
  display: none;

  background-color: $line;

  &:checked {
    background-color: #000;
  }
}

label {

  cursor: pointer;
  color: $labelColor;
  margin-right: 13px;
  margin-bottom: 0;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    content: "";
    background-color: $line;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 3px;
    margin-right: 3px;
    color: $black;
  }

  @media (max-width: 760px) {
    width: 100%;
    margin-right: 0;
  }
}

input:checked + label:before {
  background-color: $blue;
  position: relative;
}

input:checked + label span:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 1px;
  width: 6px;
  height: 2px;
  background: $black;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

input:checked + label span:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 10px;
  width: 11px;
  height: 2px;
  background: $black;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

/* news */

.news {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .recordingInt {
    border: none;
  }
}

.newsBlock {
  margin-right: 24px;
  margin-bottom: 15px;
  width: calc(50% - 12px);
  font-family: $tahomaFont;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 760px) {
    width: 100%;
    margin-right: 0;
  }

  .title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .newsImgStats {
    background: rgba(3, 15, 25, 0.6);
    padding: 5px 10px;
    color: $white;
    justify-content: space-between;
  }
}

.newsImg {
  position: relative;
  width: 100%;
  padding-top: 67.1%;
  margin-bottom: 8px;
}

.newsImgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsImgStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding-top: 5px;
  font-size: 13px;
  justify-content: space-between;
  color: $labelColor;

  @media (max-width: 760px) {
    justify-content: center;
  }
}


.newsStatEye {
  position: relative;
  margin-right: 5px;
}

.ImgIcon {
  color: $white;

}



.newsTextStats {
  color: $white;
  margin: 0 0 0 auto;
}

/* newsImgText */

.newsImgBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 27px;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  color: $white;
}

.newsBlockText {
  font-size: 15px;
}

.newsImgBlockNews {
  background-color: $blue;
}

.newsImgBlockPoster {
  background-color: $newsColorRed;
}

.newsImgBlockVtv {
  background-color: $newsColorOrange;
}


.advBanner {
  width: 100%;
}

.blockInt {
  max-height: 610px;
}

.recordingInt {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid $line;
  padding: 15px 0;
  width: 100%;

  @media (max-width: 540px) {
    display: block;
  }

  .recordingLink {
    margin-bottom: 9px;
  }
}

.blockParentInt {

  .newsImgStats {
    position: static;
    background: transparent;
    padding: 0;
    padding-top: 5px;
  }

}



.IntImg {
  width: 100%;
  max-width: 137px;
  margin-right: 22px;

  @media(max-width:540px) {
    max-width: none;
    margin-right: 0;
  }
}

.intLink {
  max-width: 455px;
  margin-bottom: 12px;
}

.statInt {
  position: static;
  background: $white;
  padding: 0;
}

.IntIcon {
  filter: grayscale(1);
  font-size: 12px;
}

.IntTextStats {
  color: $navColor;
}

.btnInt {
  margin: 0 auto;

  &:before {
    content: "";

  }
}

/* carousel */

.owlParent {
  padding-top: 15px;
  padding-bottom: 45px;
}

.owl-people {
  width: 100%;
  background-color: $carouselColor;
}

.peopleInfo {
  display: flex;
  max-width: 645px;
  padding: 21px;

  @media (max-width: 540px) {
    display: block;
  }

  .title {
    font-size: 15px;
    width: 172px;
  }
}



.peopleText {
  font-size: 15px;
}

.peopleLink {
  color: $blue;
  margin-right: 30px;
  font-size: 15px;
  font-style: normal;

  @media (max-width: 540px) {
    margin-right: 14px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.owl-next {
  position: absolute;
  top: 40px;
  right: 20px;
}

.owl-prev {
  position: absolute;
  top: 40px;
  left: 20px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  font-size: 70px;
  color: $owlColor;
  font-weight: 100;
  font-family: "Open Sans";

  @media (max-width: 991px) {
    display: none;
  }
}

.owl-carousel .owl-nav.disabled {
  display: block;
}

.peopleImg {
  max-width: 132px;
  width: 100%;
  border-radius: 100px;
  height: 132px;
  margin-right: 25px;

  @media (max-width: 540px) {
    margin: 0 auto;
  }
}

.owlBlock {
  font-size: 15px;
  font-style: italic;
  font-family: 'Tahoma Regular';
  margin: auto;

  .title {
    font-size: 15px;
  }

}

/* right */

.right {
  border-left: 1px solid $line;
  max-width: 322px;
  width: 25%;
  padding-right: 0;

  .blockParent {
    max-height: 530px;
  }

  @media (max-width: 991px) {
    display: none;
  }
}

.rightTitle {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.advParent {
  max-height: 541px;
  color: $navColor;
}

.advComm {
  max-height: 530px;
}

.advBlock {
  border-top: 1px solid $line;
  position: relative;
  padding: 5px 12px 5px 15px;
}

.userName {
  color: $navColor;

}

.recordingText {
  max-width: 229px;
}

.advLink {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e5e5e4;
  color: #b1b1b1;
  width: 59px;
  height: 21px;
  text-align: center;
  font-size: 11px;
}

.busImg {
  position: relative;
  height: 365px;

}

.busImgImg {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.bus2 {
  top: 76px;
  z-index: 1;
}

.presentParent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.presentText {
  font-size: 21px;
  margin-bottom: -14px;
  font-weight: 600;
  font-style: italic;
}

.presentImg {
  max-width: 104px;
  width: 100%;
  height: 80px;
  margin-bottom: -27px;
  margin-right: 21px;
}

.presentTitle {
  font-size: 61px;
  color: #f63219;
  font-weight: 900;
  letter-spacing: 2px;

  @media (max-width: 1200px) {
    font-size: 57px;
  }
}

.textReg {
  color: $blue;
  margin-bottom: 15px;
  font-weight: 900;
  font-style: italic;
}

/* yan */

.yanContent {
  border-top: 1px solid $line;
  flex-wrap: wrap;
  position: relative;
  padding: 25px 15px;
  justify-content: space-between;
  padding-bottom: 0;
}

.yanTitle {
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 500;
  color: $defaultColor;
}

.yanText {
  width: calc(25% - 40px);
  font-size: 15px;
  margin-right: 20px;
  position: relative;
  font-family: "Tahoma";
  margin-bottom: 24px;

  @media (max-width: 991px) {
    width: calc(50% - 20px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: 540px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

}


.rec {
  font-size: 11px;
  color: $labelColor;
}

/* footer */

footer {
  @media (max-width: 760px) {
    background-color: $footerColor;
  }
}


.footerContent {
  background-color: $footerColor;
  color: $footerText;
  justify-content: space-between;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.footerText {
  font-size: 11px;
  max-width: 384px;
  width: 50%;
  line-height: 13px;

  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footerLinksParent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-between;
}

.footerImgParent {
  width: 50%;
  text-align: right;

  @media (max-width: 991px) {
    width: 100%;
    text-align: left;
  }
}

.footerImg {
  max-width: 302px;
  width: 100%;
}

.footerIconsParent {
  width: 50%;

  @media (max-width: 991px) {
    width: 100%;
    text-align: center;
  }
}

.footerIcons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #545454;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;

  &:hover {
    filter: invert(1);
  }

  &:last-child {
    margin-right: 0;
  }
}

.footerLinks {
  .footerLink {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footerLink {
  font-size: 13px;
  color: $footerText;
}

.footerRight {
  text-align: right;
  max-width: 337px;
  width: 50%;
  line-height: 15px;

  @media (max-width: 991px) {
    width: 100%;
    max-width: none;
    text-align: left;
  }
}

.footerLinks {
  width: 50%;
  width: 100%;
}



/* news */

.calNews {
  .calText {
    position: relative;
    font-family: $tahomaFont;
    font-style: italic;
    font-size: 12px;
    text-decoration: underline;

    &:last-child {
      text-decoration: none;
    }
  }
}

.newsBlockParent {
  .title {
    font-size: 24px;
  }
}


.autor {
  padding: 10px 0;
}

.autorText {
  padding-left: 15px;
  font-family: $defaultFont;

  .title {
    font-size: 13px !important;
    font-style: italic !important;
  }

  .autorT {
    color: $navColor;
    font-size: 13px;
  }
}

.inputText {
  border: 1px solid $line;
  margin: 0 14px;
  max-width: 252px;
  width: 100%;
  margin-bottom: 15px;

  @media (max-width: 1200px) {
    max-width: none;
  }
}

.inVideo {
  max-width: 419px;
  width: 100%;
  margin-bottom: 15px;

  @media (max-width: 1200px) {
    max-width: none;
  }
}

.newsText {
  padding: 25px 0;
  border-bottom: 3px solid $line;
  font-size: 15px;
}

.storyText {
  max-width: 876px;
  font-size: 15px;
  line-height: 23px;
}

.tags {
  padding: 20px 0;
  border-bottom: 1px solid $line;
  flex-wrap: wrap;
  .title {
    margin-right: 28px;
    font-size: 14px;

    @media (max-width: 991px) {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .tagText {
    margin-right: 20px;
    font-size: 12px;
  }

  .footerIconsParent {
    .footerIcons {
      background-color: transparent;

      margin-right: 10px;
      width: 24px;
      height: 24px;
    }
  }
}


.tagsContent {
  padding: 20px 25px;
  padding-bottom: 0;;

  .recording {
    border: none;
    width: calc(50% - 20px);
    padding: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    display: flex;

    &:nth-child(2n) {
      margin-right: 0;
    }

    @media (max-width: 1200px) {
      display: block;
    }

    @media (max-width: 540px) {
      width: 100%;
      margin-right: 0;
    }


    .recordingLink {
      max-width: 150px;

      @media (max-width: 1200px) {
        text-align: center;
        margin: 0 auto;
      }
    }
  }

}

.tagRecording {
  border: none;
  width: calc(50% - 10px);
}


.partParent {
  background-color: #f2f2f2;

  .recordingInt {
    border: 0;
  }

}

.newsConParent {
  padding: 30px 0;
  padding-left: 15px;

  @media (max-width: 1200px) {
    padding-left: 0;
  }

  .recordingInt {
    border: none;
  }
}

.newsImg1 {
  max-width: 177px;
  height: 118px;
}

.newsCon {
  width: calc(20% - 6px);
  margin-right: 7px;
  font-size: 13px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1200px) {
    width: calc(50% - 20px);
    text-align: center;
  }

  @media (max-width: 760px) {
    width: 100%;
  }

  .newsImg1 {
    margin-bottom: 10px;
  }

  .newsConText {
    font-family: 'Tahoma';
    font-size: 13px;
    line-height: 17px;
  }
}

/* page VTV */

.con {
  .rightTitle {
    @media (max-width:991px) {
      display: none;
    }
  }
}


.vtvContent {
  padding: 20px 0;
  flex-wrap: wrap;

  .title {
    font-size: 23px;
    padding-right: 5px;
  }

}

.vtvStats {
  position: static;
  width: auto;
  background: transparent !important;
  padding: 0 !important;

  @media (max-width: 991px) {
    justify-content: center;
  }

  @media (max-width: 540px) {
    justify-content: center;
  }

  .vtvText {
    margin-right: 39px;
  }

  .newsStatEye {
    margin-right: 27px;
  }

  .newsStatComm {
    margin-right: 27px;

    @media (max-width: 540px) {
      margin-right: 0;
    }
  }
}


.commImg {
  max-width: 643px;
  width: 100%;
}

.video {
  padding: 28px 0;
  border-top: 3px solid $line;

  .videoTitle {
    padding-bottom: 25px;
  }
}

.videoVtv {
  background-color: $black;
  position: relative;
  padding-top: 36.1%;

  @media (max-width: 760px) {
    padding-top: 54%;
  }
}

.videoIframe {
  padding: 0 163px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  @media (max-width: 760px) {
    padding: 0;
  }

}

.videoToday {
  padding-top: 40px;
  border-top: 1px solid $line;
  position: relative;

  .newsBlock {
    width: calc(25% - 45px);
    margin-right: 60px;
    margin-bottom: 40px;
    position: relative;

    .videoImg {
      margin-bottom: 10px;
    }


  }

  .recordingInt {
    border: 0;
  }
}

.videoContent {
  width: calc(25% - 47px);
  margin-right: 61px;
  margin-bottom: 40px;

  &:nth-child(4n) {
    margin-right: 0;

    @media (max-width: 991px) {
      margin-right: 42px;
    }
  }

  @media (max-width: 991px) {
    width: calc(33.33333% - 29px);
    margin-right: 42px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: 760px) {
    width: calc(50% - 21px);
    margin-right: 40px;

    &:nth-child(3n) {
      margin-right: 40px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: 540px) {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;

    &:nth-child(2n), &:nth-child(3n) {
      margin-right: auto;
    }
  }

  .videoImg {
    margin-bottom: 18px;
  }

  .title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name {
    font-style: italic;
    margin-bottom: 5px;
    font-size: 13px;
  }
}

.videoImg {
  max-width: 250px;
  height: 150px;
  width: 100%;
}

.yanVtv {
  width: calc(20% - 61px);

  &:first-child {
    margin-left: 30px;
  }

  @media (max-width: 1200px) {
    width: calc(25% - 40px);
  }

  @media (max-width: 991px) {
    width: calc(50% - 20px);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (max-width: 540px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

}

.vtvFooter {
  background-color: $footerColor;
}

.footerLeftIcon {
  padding: 20px 0;
}

/* VTV video */

.leftMiddle {

  @media (max-width: 991px) {
    padding: 0;
  }

  .video {
    .videoToday {
      padding-right: 15px;

      .videoContent {
        width: calc(33.33333% - 26px);
        margin-right: 39px;

        &:nth-child(3n) {
          margin-right: 0;
        }

        @media (max-width: 760px) {
          width: 100%;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
}

.busVtv {
  border-top: 1px solid $line;
  border-bottom: 1px solid $line;
  padding: 20px 0;

  .busImgImg {
    height: 351px;
  }
}

.vkGroup {
  right: 0%;
  width: 315px;
  font-family: "Tahoma";
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  left: auto;
  top: 23%;

  .yanTitle {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .hearingText {
    color: $navColor;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .newsBtn {
    font-size: 12px;
    padding: 6.5px 14px;
  }
}

.leftMiddle {
  .tags {
    border-top: 1px solid $line;

    .recording {
      width: calc(33.3333% - 51px);
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 991px) {
        width: 100%;
        margin-right: 0;
      }
    }

  }
}

.right {

  .vkGroup {
    top: 11%;
    right: 3%;
  }

  .video {
    .videoToday {
      .videoContent {
        width: 100%;
        margin-right: 0;
        max-width: 277px;

        &:last-child {
          margin-bottom: 0;
        }

      }
    }
  }
}

/* Burger */

.hidden {
  background-color: #f2f2f2;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  border-top: 1px solid $line;
  font-family: $tahomaFont;
  font-size: 15px;

  .blocks {
    border-top: 1px solid $line;

    .left {
      padding-top: 44px;
      border-bottom: 1px solid $line;
    }

    .right {
      padding-top: 20px;
      padding-right: 25px;
      padding-bottom: 20px;
    }

    .presentBtn {
      margin-bottom: 25px;
      padding: 6.5px 26.5px;
      font-size: 13px;
    }
  }
}

.hiddCon {
  @media (max-width: 760px) {
    padding: 0 !important;
  }
}

.openH {
  display: block;
}

.hiddenHeader {
  margin: 0 auto;
  height: 57px;
  max-width: 677px;
  width: 50%;
  padding-right: 62px;

  @media (max-width: 991px) {
    max-width: none;
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 540px) {
    font-size: 12px;
    justify-content: space-around;
  }
}

.hiddenTel {
  max-width: 148px;
  margin: 0 25px;

  @media (max-width: 540px) {
    display: none;
  }
}

.hiddenLink {
  color: $labelColor;
}

/* hiddenLeft*/

.Opros {

  border-bottom: 1px solid $line;

  .title {
    color: $blue;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .hiddenText {
    margin-bottom: 15px;
  }

  .hiddenIn {
    margin-bottom: 20px;
  }

  .hiddenImg {
    max-width: 120px;
    width: 100%;
    height: 91px;
    display: block;
    margin-left: auto;
    margin-right: 28px;
  }
}

.hiddenText {
  font-weight: bold;
  font-size: 15px;
  max-width: 272px;
  width: 100%;
  font-family: $defaultFont;
}

.hiddenIn {
  display: grid;

  label {
    &:before {
      transform: rotate(45deg);
      margin-right: 12px;
    }
  }
}

.progHiddenParent {
  position: relative;
  width: 100%;
  height: 286px;

  @media (max-width: 1200px) {
    height: auto;
  }
}

.progHidden {
  border-right: 1px solid $line;
  border-bottom: 1px solid $line;
  padding-left: 23px;
  padding-top: 10px;
  padding-right: 10px;
  width: 25.1%;
  height: 169px;

  &:nth-child(3n+3),&:nth-child(3n+4),&:nth-child(3n+5) {
    height: 120px;
  }

  &:nth-child(6) {
    margin-top: -49px;
    height: 169px;
  }

  &:last-child {
    position: absolute;
    height: 289px;
    right: 0;
  }



  @media (max-width: 1200px) {
    position: static;

    &:nth-child(odd) {
      width: 40%;
    }

    &:nth-child(even) {
      width: 35%;
      margin: 0;
    }

    &:nth-child(6) {
      height: 120px;
    }

    &:last-child {
      width: 25%;
    }

    @media (max-width: 540px) {
      width: 100% !important;
      position: static !important;
      text-align: center;
    }


  }


  .title {
    font-size: 13px;
  }

  .hiddenLink {
    font-size: 11px;
    display: block;

    @media (max-width: 540px) {
      font-size: 12px;
    }
  }
}

.HiddenOpPres {
  padding-left: 28px;
  position: relative;
  border-top: 1px solid $line;
  padding-top: 10px;

  .hiddenText {
    max-width: 190px;
    margin-left: 15px;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .presentBtn {
    padding: 6.5px 18px;
    margin-bottom: 0 !important;
  }
}

.recHidden {
  padding: 25px 17px;
}

.recHiddenImg {
  max-width: 645px;
  width: 100%;
}

/* hidden Right */

.right {
  .Opros {
    padding: 15px;
    border: 1px solid $line;
    border-radius: 10px;
  }
}
