.circleLink {

  &:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    padding: 8.5px;
    background-image: url("../img/circle.png");
    bottom: 5px;
    margin-left: 7px;
  }
}

.map {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/svg/map.svg");
    background-repeat: no-repeat;
    width: 29px;
    height: 33px;
  }
}

.doll {

  &:before {
    content: "";
    background-image: url("../img/svg/doll.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 50%;
    background-color: #dedede;
    position: absolute;
    left: 0;
    width: 20px;
    height: 21px;
    margin-left: -26px;
  }

}

.eu {

  &:before {
    content: "";
    background-image: url("../img/svg/eu.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 50%;
    background-color: #dedede;
    width: 20px;
    position: absolute;
    height: 21px;
    margin-left: -27px;
  }

}

.neft {
  &:before {
    content: "";
    background-image: url("../img/svg/neft.svg");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0 11px;
    margin-right: 6px;
    background-position: center;
    border-radius: 50%;
    background-color: #dedede;
    width: 20px;
    position: absolute;
    height: 21px;
    margin-left: -27px;
  }
}

.arrowDown {
  &:after {
    content: "";
    background-image: url("../img/arrowDown.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 6px;
    width: 7px;
    height: 11px;
    margin-left: 10px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.arrowTop {
  &:after {
    content: "";
    background-image: url("../img/arrowTop.png");
    padding: 5px;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 6px;
    width: 7px;
    height: 11px;
    margin-left: 10px;

    @media (max-width: 1200px) {
      display: none;
    }

  }
}

.glasses {
  &:before {
    content: "";
    background-image: url("../img/svg/gl.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90% 100%;
    padding: 0 13px;
    margin-right: 8px;

    @media (max-width: 540px) {
      display: none;
    }
  }
}

.search {
  &:before {
    content: "";
    background-image: url("../img/svg/search.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    padding: 0 12px;
    margin-right: 21px;

    @media (max-width: 540px) {
      display: none;
    }
  }
}

.calLink {
  &:after {
    content: "";
    background-image: url("../img/svg/call.svg");
    background-size: auto;
    padding: 4px 12px;
    margin-left: 20px;
    background-repeat: no-repeat;
  }
}

.pal {

  &:before {
    content: "";
    background-image: url("../img/svg/palm.svg");
    background-repeat: no-repeat;
    padding: 2px 13px;
  }
}

.camera {

  &:before {
    content: "";
    background-image: url("../img/svg/cam.svg");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0 15px;
  }
}

.userName {
  &:before {
    content: "";
    background-image: url("../img/svg/user.svg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 11px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.lineLeft {

  &:before {
    content: "";
    border-right: 2px solid $blue;
    position: absolute;
    top: 5px;
    left: 0;
    height: 85%;
  }
}

.eye {

  margin-left: 26px;

  &:before {
    content: "";
    background-image: url("../img/svg/eye.svg");
    margin-right: 3px;
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 12px;
    width: 23px;
    height: 13px;
    position: absolute;
    top: 3px;
    margin-left: -27px;
  }
}

.comm {

  margin-left: 26px;
  position: relative;

  &:before {
    content: "";
    background-image: url("../img/svg/comm.svg");
    background-size: auto;
    background-repeat: no-repeat;
    font-size: 12px;
    width: 15px;
    height: 18px;
    position: absolute;
    top: 2px;
    margin-left: -18px;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 20px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}


.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


.mobIcon {

  &:after {
    content: "";
    background-image: url("../img/social/footer/tel.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6px 15px;
    margin-left: 7px;
  }
}

.line {
  &:after {
    content: "";
    display: flex;
    width: 35%;
    border: 1px solid $line;
    position: absolute;
    top: 50%;
    left: 0;

    @media (max-width: 540px) {
      width: 27%;
    }
  }

  &:before {
    content: "";
    display: flex;
    width: 35%;
    border: 1px solid $line;
    position: absolute;
    top: 50%;
    right: 0;

    @media (max-width: 540px) {
      width: 27%;
    }
  }
}



/* news */

.horLine {

  &:after {
    content: "";
    display: inline-block;
    height: 10px;
    border-right: 1px solid $labelColor;
    margin-left: 17px;
    margin-right: 11px;
    transform: rotate(45deg);

  }
}

.longLine {

  &:after {
    width: 40%;
    z-index: 1;
  }

  &:before {
    width: 40%;
    z-index: 1;
  }
}


/* Page vtv */

.redCircle {
  &:before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #f63219;
    display: inline-block;
    margin-right: 8px;
  }
}

.smallLine {

  &:after {
    width: 23%;
  }

  &:before {
    width: 23%;
  }
}

.vkIcon {
  &:after {
    content: "";
    background-image: url("../img/vkicon.png");
    background-repeat: no-repeat;
    padding: 0 10px;
    background-size: auto;
    background-position: 0 4px;
    margin-left: 5px;
  }
}

.smallCircle {
  &:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

  }
}

.smallCircleNews {
  &:before {
    background-color: $blue;
  }
}

.smallCircleAf{
  &:before {
    background-color: #dc0000;
  }
}

.smallCircleVtv {
  &:before {
    background-color: #fbba76;
  }
}

.smallCircleOB {
  &:before {
    background-color: #660099;
  }
}

.smallCircleVak {
  &:before {
    background-color: #00759c;
  }
}

.smallCircleVak {
  &:before {
    background-color: #339900;
  }
}

.presentBox {
  &:before {
    content: "";
    background-image: url("../img/present.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    padding: 18px;
    position: absolute;
    left: 0;
  }
}


.strLink {
  &:after {
    content: "";
    position: absolute;
    border-top: 1px solid $line;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

  }
}
