.circleLink {

  &:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    padding: 8.5px;
    background-image: url("/assets/img/circle.png");
    bottom: 5px;
    margin-left: 7px;
  }
}

.map {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/mapIcon.png");
    background-repeat: no-repeat;
    padding: 16px;
  }
}

.doll {

  &:before {
    content: "";
    background-image: url("/assets/img/doll.png");
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    padding: 0 11px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #dedede;
    margin-left: 11px;
  }

}

.eu {

  &:before {
    content: "";
    background-image: url("/assets/img/euro.png");
    background-repeat: no-repeat;
    background-size: 67% 71%;
    background-position: center;
    padding: 0 9px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #dedede;
    margin-left: 11px;
  }

}

.neft {
  &:before {
    content: "";
    background-image: url("/assets/img/neft1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding: 0 11px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #dedede;
    margin-left: 11px;
  }
}

.arrowDown {
  &:after {
    content: "";
    background-image: url("/assets/img/arrowDown.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5px;
    position: absolute;
    top: 6px;
    margin-left: 10px;
  }
}

.arrowTop {
  &:after {
    content: "";
    background-image: url("/assets/img/arrowTop.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5px;
    position: absolute;
    top: 6px;
    margin-left: 10px;
  }
}

.glasses {
  &:before {
    content: "";
    background-image: url("../img/glasses.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 0 13.5px;
    margin-right: 8px;
  }
}

.search {
  &:before {
    content: "";
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 0 12px;
    margin-right: 21px;
  }
}

.pal {

  &:before {
    content: "";
    background-image: url("/assets/img/pal.png");
    background-repeat: no-repeat;
    padding: 0 13px;
  }
}

.camera {

  &:before {
    content: "";
    background-image: url("/assets/img/camera.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 10px;
    margin-right: 5px;
  }
}

.lineLeft {

  &:before {
    content: "";
    border-right: 2px solid $blue;
    position: absolute;
    top: 5px;
    left: 0;
    height: 85%;
  }
}

.eye {

  &:before {
    content: "";
    background-image: url("/assets/img/eye.png");
    margin-right: 3px;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 0 12px;
    font-size: 10px;
  }
}

.comm {

  &:before {
    content: "";
    background-image: url("/assets/img/comm.png");
    background-size: auto;
    background-repeat: no-repeat;
    padding: 0 9px;
    font-size: 12px;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 20px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}


.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


.mobIcon {

  &:after {
    content: "";
    background-image: url("/assets/img/mobIcon.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6px 15px;
    margin-left: 7px;
  }
}

.line {
  &:after {
    content: "";
    display: flex;
    width: 35%;
    border: 1px solid $line;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }

  &:before {
    content: "";
    display: flex;
    width: 35%;
    border: 1px solid $line;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
  }
}



/* news */


.noActive {
  &:before {
    content: "";
    border-bottom: 1px solid $labelColor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
  }
}

.horLine {

  &:after {
    content: "";
    display: inline-block;
    height: 10px;
    border-right: 1px solid $labelColor;
    margin-left: 11px;
    transform: rotate(45deg);

  }
}

.longLine {

  &:after {
    width: 40%;
    z-index: 1;
  }

  &:before {
    width: 40%;
    z-index: 1;
  }
}


/* Page vtv */

.redCircle {
  &:before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #f63219;
    display: inline-block;
    margin-right: 8px;
  }
}